.container {
    display: flex;
    flex-direction: column;
}

#big {
    object-fit: contain;
    padding: 1vw;
    height: 66vh;
}

.small-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1vw;
    row-gap: 1vw;
    padding: 1vw;
} 

.small {
    height: 200px;
    width: 200px;
    object-fit: cover;
    background: slategray;
}

.selected {
    outline: 3px solid magenta;
}